.banner {
    background-color: black;
    text-align: center;
    color: white;
    position: relative;

    @media (min-width:900px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .img {
        width: 100%;

        @media (min-width:900px) {
            width: 50%;
        }
    }
    

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 60%;

        @media (min-width:768px) {
            width: 40%;
        }

        @media (min-width:900px) {
            width: 50%;
            left: 70%;
            text-align: start;
        }
    }

    .text h2 {
        @media (min-width:900px) {
            width: 50%;
            paddin: 0 auto;
            padding: 30px 0;
        }
    }

    .text h3,
    h2,
    p {
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        padding: 0 10px;

        @media (min-width:900px) {
            width: 70%;
            font-size: 2rem;
            margin: 0 auto;
            text-align: start;
        }
    }

    .text p {
        @media (min-width:900px) {
            text-align: start;
            font-size: 1rem;
            width: 344px;

        }
    }

    .text h3 {
        opacity: .4;

        @media (min-width:900px) {
            text-align: start;
            padding-left: 4rem;

        }

    }

    button {
        background: #D87D4A;
        width: 160px;
        height: 40px;
        flex-shrink: 0;
        color: white;
        border: none;

        @media (min-width:900px) {
            font-size: 1rem;
            margin: 20px auto;
            margin-left: 11.5rem;

        }
    }

}





.two {
    text-align: center;
    color: white;
    border-radius: 8px;
    background: #D87D4A;
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;

    @media (min-width:900px) {
        display: flex;
        height: 400px;
        justify-content: space-around;
        margin: 5rem auto;
        width: 80%;

    }

    .im img {
        width: 60%;

        @media (min-width:768px) {
            width: 30%;
            margin-top: 30px;

            @media (min-width:900px) {
                width: 50%;
              margin-top: 4rem;
            }
        }
    }

    .up {
        @media (min-width:768px) {
            width: 50%;
            margin: 0 auto;

            @media (min-width:900px) {
                text-align: start;
                margin: 40px 0;
                width: 40%;
            }
        }
    }

    .up h1 {
        @media (min-width:900px) {
            font-size: 56px;
        }
    }

    .up p {
        @media (min-width:900px) {
            font-size: 1rem;
            margin: 20px auto;
            margin-left: 0rem;
            width: 300px;
        }
    }

    .up button {
        background: #000;
        color: white;
        text-transform: uppercase;
        border: none;
        width: 160px;
        height: 40px;
        flex-shrink: 0;
        margin-bottom: 30px;
    }
}

.zx7 {
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 117px;
    width: 90%;
    margin: 20px auto;

    @media (min-width:768px) {
        height: 200px;

        @media (min-width:900px) {
            height: 300px;
            margin: 8rem auto;
            width: 80%;
        }
    }

    .h3 {
        color: #000;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 20px;

        @media (min-width:768px) {
            padding: 40px 0 0 40px;
        }

        @media (min-width:900px) {
            font-size: 28px;
            padding-top: 5rem;
            margin-left: 9.2rem;

        }
    }

    .btn {
        width: 160px;
        height: 38px;
        border: 1px solid #000;
        margin-top: -30px;
        margin-left: 20px;
        text-transform: uppercase;
        @media (min-width:768px) {
            margin-left: 40px;
        }
        @media (min-width:900px) {
            margin: 20px auto;
            margin-left: 11.5rem;
            height: 48px;
         }
    }
}

.three {
    text-align: center;
    @media (min-width:768px) {
        display: flex;
     }
@media (min-width:900px) {
    width: 90%;
    margin: 0 auto;
}
    .img,
    .yx1 {
        width: 90%;
        margin: 10px auto;

        @media (min-width:768px) {
            width: 40%;
            height: 300px;
        }
    }

    .yx1 {
        border-radius: 8px;
        background: #F1F1F1;
        height: 150px;
        padding-top: 40px;

        @media (min-width:768px) {
            width: 40%;
            height: 300px;
            padding-top: 80px;
        }
    }

    .yx1 button {
        height: 35px;
    }
}

