/* animation.css */
.active {
    animation: moveImage 4s linear;
  }
  
  @keyframes moveImage {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  