
.one {
    text-align: center;

    @media (min-width:768px) {
        display: flex;

        @media (min-width:1440px) {
            margin: 4rem 0;

        }
    }

    .phone {
        width: 90%;
        border-radius: 8px;
        background: #F1F1F1;
        flex-shrink: 0;
        margin: 70px auto;

        @media (min-width:768px) {
            width: 30%;
        }
    }

    .phone img {
        margin-top: -50px;
    }

    .phone button {
        margin-bottom: 20px;
        border: none;
        text-transform: uppercase;
    }

    .icon {
        color: #D87D4A;
    }
}