
.foo{
    background-color:black;
    color: white;
    text-align: center;
    align-items: center;

    hr{
        border: 2px solid #D87D4A;
        width: 100px;
        @media (min-width:768px) {
        }
    }

    .aud{
        @media (min-width:1440px) {
            display: flex;
            justify-content: space-around;
        }
    }

    .aud h1{
        padding-top: 40px;
        @media (min-width:768px) {
            text-align: start;
            padding: 0 20px;
        }
        @media (min-width:1440px) {
            padding-top: 20px;
        }
    }
    ul{
        list-style-type: none;
        padding: 30px 0;
       @media (min-width:768px) {
        display: flex;
        gap: 10px;
        padding: 0 20px;
       }
       @media (min-width:1440px) {
        font-size: 2rem;
        gap: 20px;
       }
    }
    li{
        padding: 10px 0;
    }
    .text p, h1{
        padding: 20px 10px;
    }

    .social {
        @media (min-width:768px) {
            display: flex;
        }
        @media (min-width:1440px) {
            padding-left: 9rem;
        }
    }
    .icon:hover{
        color: #D87D4A;
    }
    li:hover{
        color: #D87D4A;
    }
    .icon{
        gap: 20px;
        font-size: 2rem;
        padding: 10px 10px;
        
        @media (min-width:768px) {
            padding-top: 30px;
        }

        @media (min-width:1440px) {
            margin-top: -7rem;
            font-size: 3rem;
          
        }
    }
    .text{
        @media (min-width:768px) {
            display: flex;
            justify-content: space-around;
        }
    }

    .pp{
        width: 90%;
  padding: 0 20px;
  text-align: start;
font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 500;

@media (min-width:1440px) {
    width: 50%;
font-size: 23px;
padding: 3rem 9rem 0 ;
}
    }
}